@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed:wght@300&display=swap');

*{
  margin: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#left-page {
  width: 50vw;
  height: 100vh;
  background:rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#left-page > h1{
  color: white;
  font-size: 50px;
  margin-bottom: 50px;
  font-family: 'Roboto Condensed', sans-serif;
}

#left-page > img {
  border-radius: 30px;
  box-shadow: 0px 10px 50px -8px rgb(65, 65, 65);
}

#right-page {
  width: 50vw;
  height: 100vh;
  background: #FFf;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 45px;
  background: rgb(53, 52, 52);
  border-radius: 20px;
  color: #FFf;
  box-shadow: 0px 10px 40px #44444456; 
}

#card-login > h1 {
    font-weight: bold;
    margin: 0;
}

.textfield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #44444456;
  outline: none;
  box-sizing: border-box;
}

.input-login {
  width: 100%;
  padding: 10px 0;
  margin: 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #44444456;
}

a {
  text-decoration: none;
  color: rgb(84, 84, 216);
}
